In [ ]:
import numpy as np 
import pandas as pd
df=pd.read_csv("DataPreprocessing.csv")
print(df)

        Id  MSSubClass LotFrontage  LotArea LotConfig Neighborhood BldgType  \
0     1461        20.0          80    11622    Inside        NAmes     1Fam
1     1462        20.0          ##    14267    Corner        NAmes     1Fam
2     1463        60.0          74    13830    Inside      Gilbert     1Fam
3     1464        60.0          78     9978    Inside      Gilbert       Na
4     1465       120.0          43     5005    Inside      StoneBr   TwnhsE
...    ...         ...         ...      ...       ...          ...      ...
1454  2915       160.0          21     1936    Inside      MeadowV    Twnhs
1455  2916       160.0          21     1894    Inside      MeadowV   TwnhsE
1456  2917        20.0         160    20000    Inside      Mitchel     1Fam
1457  2918        85.0          62    10441    Inside      Mitchel     1Fam
1458  2919        60.0          74     9627    Inside      Mitchel     1Fam

     HouseStyle OverallQual OverallCond  YearBuilt RoofStyle  TotalBsmtSF  \
0        1Story           5           6       1961     Gable        882.0
1        1Story           6           6       1958       Hip       1329.0
2        2Story         NaN           5       1997     Gable        928.0
3             ?           6           6       1998         #        926.0
4        1Story           8         Nan       1992     Gable       1280.0
...         ...         ...         ...        ...       ...          ...
1454     2Story           4           7       1970     Gable        546.0
1455     2Story           4           5       1970     Gable        546.0
1456     1Story           5           7       1960     Gable       1224.0
1457     SFoyer           5           5       1992     Gable        912.0
1458     2Story           7           5       1993     Gable        996.0

      GrLivArea BedroomAbvGr  TotRmsAbvGrd  GarageArea
0           896            2             5       730.0
1          1329            3             6       312.0
2          1629            3             6       482.0
3          1604            3             7       470.0
4          1280            2             5       506.0
...         ...          ...           ...         ...
1454       1092            3             5         0.0
1455       1092            3             6       286.0
1456       1224            4             7       576.0
1457        970            3             6         0.0
1458       2000            3             9       650.0

[1459 rows x 17 columns]

In [ ]:
print("checking if the vale is null or not\n",df.isnull().sum())

checking if the vale is null or not
 Id                0
MSSubClass        3
LotFrontage     227
LotArea           0
LotConfig         0
Neighborhood      0
BldgType          0
HouseStyle        0
OverallQual       4
OverallCond       0
YearBuilt         0
RoofStyle         0
TotalBsmtSF       1
GrLivArea         0
BedroomAbvGr      0
TotRmsAbvGrd      0
GarageArea        1
dtype: int64

In [ ]:
print("Will disply info\n",df.info)

Will disply info
 <bound method DataFrame.info of         Id  MSSubClass LotFrontage  LotArea LotConfig Neighborhood BldgType  \
0     1461        20.0          80    11622    Inside        NAmes     1Fam
1     1462        20.0          ##    14267    Corner        NAmes     1Fam
2     1463        60.0          74    13830    Inside      Gilbert     1Fam
3     1464        60.0          78     9978    Inside      Gilbert       Na
4     1465       120.0          43     5005    Inside      StoneBr   TwnhsE
...    ...         ...         ...      ...       ...          ...      ...
1454  2915       160.0          21     1936    Inside      MeadowV    Twnhs
1455  2916       160.0          21     1894    Inside      MeadowV   TwnhsE
1456  2917        20.0         160    20000    Inside      Mitchel     1Fam
1457  2918        85.0          62    10441    Inside      Mitchel     1Fam
1458  2919        60.0          74     9627    Inside      Mitchel     1Fam

     HouseStyle OverallQual OverallCond  YearBuilt RoofStyle  TotalBsmtSF  \
0        1Story           5           6       1961     Gable        882.0
1        1Story           6           6       1958       Hip       1329.0
2        2Story         NaN           5       1997     Gable        928.0
3             ?           6           6       1998         #        926.0
4        1Story           8         Nan       1992     Gable       1280.0
...         ...         ...         ...        ...       ...          ...
1454     2Story           4           7       1970     Gable        546.0
1455     2Story           4           5       1970     Gable        546.0
1456     1Story           5           7       1960     Gable       1224.0
1457     SFoyer           5           5       1992     Gable        912.0
1458     2Story           7           5       1993     Gable        996.0

      GrLivArea BedroomAbvGr  TotRmsAbvGrd  GarageArea
0           896            2             5       730.0
1          1329            3             6       312.0
2          1629            3             6       482.0
3          1604            3             7       470.0
4          1280            2             5       506.0
...         ...          ...           ...         ...
1454       1092            3             5         0.0
1455       1092            3             6       286.0
1456       1224            4             7       576.0
1457        970            3             6         0.0
1458       2000            3             9       650.0

[1459 rows x 17 columns]>

In [ ]:
print("datatypes\n",df.dtypes)

datatypes
 Id                int64
MSSubClass      float64
LotFrontage      object
LotArea           int64
LotConfig        object
Neighborhood     object
BldgType         object
HouseStyle       object
OverallQual      object
OverallCond      object
YearBuilt         int64
RoofStyle        object
TotalBsmtSF     float64
GrLivArea         int64
BedroomAbvGr     object
TotRmsAbvGrd      int64
GarageArea      float64
dtype: object

In [ ]:
print("unique values of MSSubClass column\n",np.unique(df["MSSubClass"]))
print("\nunique values of LotArea column\n",np.unique(df["LotArea"]))
print("\nunique values of neighbourhood column\n",np.unique(df["Neighborhood"]))
print("\nunique values of LotConfig column\n",np.unique(df["LotConfig"]))
print("\nunique values of BldgType column\n",np.unique(df["BldgType"]))
print("\nunique values of HouseStyle column\n",np.unique(df["HouseStyle"]))
print("\nunique values of OverallQual column\n",df.OverallQual.unique())  #new way

unique values of MSSubClass column
 [ 20.  30.  40.  45.  50.  60.  70.  75.  80.  85.  90. 120. 150. 160.
 180. 190. 590. 620.  nan]

unique values of LotArea column
 [ 1470  1476  1477 ... 50102 51974 56600]

unique values of neighbourhood column
 ['Blmngtn' 'Blueste' 'BrDale' 'BrkSide' 'ClearCr' 'CollgCr' 'Crawfor'
 'Edwards' 'Gilbert' 'IDOTRR' 'MeadowV' 'Mitchel' 'NAmes' 'NPkVill'
 'NWAmes' 'NoRidge' 'NridgHt' 'OldTown' 'SWISU' 'Sawyer' 'SawyerW'
 'Somerst' 'StoneBr' 'Timber' 'Veenker']

unique values of LotConfig column
 ['Corner' 'CulDSac' 'FR2' 'FR3' 'Inside']

unique values of BldgType column
 ['1Fam' '2fmCon' 'Duplex' 'Na' 'Twnhs' 'TwnhsE']

unique values of HouseStyle column
 ['1.5Fin' '1.5Unf' '1Story' '2.5Unf' '2Story' ':-' '?' 'SFoyer' 'SLvl'
 '__']

unique values of OverallQual column
 ['5' '6' nan '8' '_' '7' '4' '9' '2' '3' '10' '1']

In [ ]:
print("replacing all the unwanted error values",df.replace(['?','_','-','#','##','na','NA','Nan'],np.nan,inplace=True))
print(df.isnull().sum())

replacing all the unwanted error values None
Id                0
MSSubClass        3
LotFrontage     228
LotArea           0
LotConfig         0
Neighborhood      0
BldgType          0
HouseStyle        2
OverallQual       5
OverallCond       1
YearBuilt         0
RoofStyle         1
TotalBsmtSF       1
GrLivArea         0
BedroomAbvGr      2
TotRmsAbvGrd      0
GarageArea        1
dtype: int64

In [ ]:
import statistics as st
print(df["MSSubClass"].fillna(st.mode(df["MSSubClass"]),inplace=True))
print(df["LotFrontage"].fillna(df["LotFrontage"].median(),inplace=True))
print(df)

None
None
        Id  MSSubClass LotFrontage  LotArea LotConfig Neighborhood BldgType  \
0     1461        20.0          80    11622    Inside        NAmes     1Fam
1     1462        20.0        67.0    14267    Corner        NAmes     1Fam
2     1463        60.0          74    13830    Inside      Gilbert     1Fam
3     1464        60.0          78     9978    Inside      Gilbert       Na
4     1465       120.0          43     5005    Inside      StoneBr   TwnhsE
...    ...         ...         ...      ...       ...          ...      ...
1454  2915       160.0          21     1936    Inside      MeadowV    Twnhs
1455  2916       160.0          21     1894    Inside      MeadowV   TwnhsE
1456  2917        20.0         160    20000    Inside      Mitchel     1Fam
1457  2918        85.0          62    10441    Inside      Mitchel     1Fam
1458  2919        60.0          74     9627    Inside      Mitchel     1Fam

     HouseStyle OverallQual OverallCond  YearBuilt RoofStyle  TotalBsmtSF  \
0        1Story           5           6       1961     Gable        882.0
1        1Story           6           6       1958       Hip       1329.0
2        2Story         NaN           5       1997     Gable        928.0
3           NaN           6           6       1998       NaN        926.0
4        1Story           8         NaN       1992     Gable       1280.0
...         ...         ...         ...        ...       ...          ...
1454     2Story           4           7       1970     Gable        546.0
1455     2Story           4           5       1970     Gable        546.0
1456     1Story           5           7       1960     Gable       1224.0
1457     SFoyer           5           5       1992     Gable        912.0
1458     2Story           7           5       1993     Gable        996.0

      GrLivArea BedroomAbvGr  TotRmsAbvGrd  GarageArea
0           896            2             5       730.0
1          1329            3             6       312.0
2          1629            3             6       482.0
3          1604            3             7       470.0
4          1280            2             5       506.0
...         ...          ...           ...         ...
1454       1092            3             5         0.0
1455       1092            3             6       286.0
1456       1224            4             7       576.0
1457        970            3             6         0.0
1458       2000            3             9       650.0

[1459 rows x 17 columns]

In [ ]:
df.isnull().sum() # the null values of LotFrontage column are replaced by the median of that column

Id              0
MSSubClass      0
LotFrontage     0
LotArea         0
LotConfig       0
Neighborhood    0
BldgType        0
HouseStyle      2
OverallQual     5
OverallCond     1
YearBuilt       0
RoofStyle       1
TotalBsmtSF     1
GrLivArea       0
BedroomAbvGr    2
TotRmsAbvGrd    0
GarageArea      1
dtype: int64

In [ ]:
df=pd.read_csv("customer.csv")
print(df)

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [ ]:
from sklearn import preprocessing
label=preprocessing.LabelEncoder()
df['purchased']=label.fit_transform(df['purchased'])
print(df)

    age  gender   review education  purchased
0    30  Female  Average    School          0
1    68  Female     Poor        UG          0
2    70  Female     Good        PG          0
3    72  Female     Good        PG          0
4    16  Female  Average        UG          0
5    31  Female  Average    School          1
6    18    Male     Good    School          0
7    60  Female     Poor    School          1
8    65  Female  Average        UG          0
9    74    Male     Good        UG          1
10   98  Female     Good        UG          1
11   74    Male     Good        UG          1
12   51    Male     Poor    School          0
13   57  Female  Average    School          0
14   15    Male     Poor        PG          1
15   75    Male     Poor        UG          0
16   59    Male     Poor        UG          1
17   22  Female     Poor        UG          1
18   19    Male     Good    School          0
19   97    Male     Poor        PG          1
20   57  Female  Average    School          1
21   32    Male  Average        PG          0
22   18  Female     Poor        PG          1
23   96  Female     Good    School          0
24   16  Female  Average        PG          1
25   57  Female     Good    School          0
26   53  Female     Poor        PG          0
27   69  Female     Poor        PG          0
28   48    Male     Poor    School          0
29   83  Female  Average        UG          1
30   73    Male  Average        UG          0
31   22  Female     Poor    School          1
32   92    Male  Average        UG          1
33   89  Female     Good        PG          1
34   86    Male  Average    School          0
35   74    Male     Poor    School          1
36   34  Female     Good        UG          1
37   94    Male  Average        PG          1
38   45  Female     Good    School          0
39   76    Male     Poor        PG          0
40   39    Male     Good    School          0
41   23    Male     Good        PG          1
42   30  Female     Good        PG          1
43   27    Male     Poor        PG          0
44   77  Female  Average        UG          0
45   61    Male     Poor        PG          1
46   64  Female     Poor        PG          0
47   38  Female     Good        PG          1
48   39  Female     Good        UG          1
49   25  Female     Good        UG          0

In [ ]:
from sklearn import preprocessing
my_label=preprocessing.labelEncoder()
df["purchased"]=my_label.fit_transform(df["purchased"])
print(df)

AttributeError: ignored

In [ ]:

from sklearn.preprossing import OrdinalEncoder
oe=OrdinalEncoder(categories=[['Poor','Average','Goood'],['School','UG','PG']])
df[['review','education']]=oe.fit_transform(df[['review','education']])