In [ ]:
l=[22,33,44,55,66]
l[3]=80
print(l)

[22, 33, 44, 80, 66]

In [ ]:
import pandas as pd
s=pd.Series([11,22,33,44,55])
print(s)

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [ ]:
d=[["Nancy",10],["Pryanshu",20],["Pushkar",30],["Jaikavi",40]]
df=pd.DataFrame(d,columns=["Name","Index"])
print(df)

       Name  Index
0     Nancy     10
1  Pryanshu     20
2   Pushkar     30
3   Jaikavi     40

In [ ]:
n=[23,45,67,89,90]
sum=0
for i in range(len(n)):
  sum=sum+n[i]
mean=sum/len(n)
print(mean)

62.8

In [ ]:
emid=((len(n)+1)//2)
print("median at odd")
print(emid)
print(n[emid-1])

median at odd
3
67

In [ ]:
n1=[99,88,77,66,55,44]
omid=((len(n1)//2)+((len(n1)//2)+1))//2
print("median at even")
print((n1[omid-1]+n1[omid])/2)

median at even
71.5

In [ ]:
import numpy as np
value=[99,86,87,88,111,86,103,87,94,78,77,85,86,99,99]
m=np.mean(value)
print("Mean is = ",m)
data=np.sort(value)
mid=np.median(data)
print("Median is = ",mid)
import statistics as stat
print("Low Median is =",stat.median_low(data))
print("High Median is =",stat.median_high(data))

Mean is =  91.0
Median is =  87.0
Low Median is = 87
High Median is = 87

In [ ]:
from scipy import stats as st
z=st.mode(data)
print("Mode is = ",z)  #this shows single mode
print("Multiple Mode is= ",stat.multimode(data)) #this shows multiple modes

v=np.var(data)
sd=np.std(data)
print("Variance is = ",v)
print("Standard Devaition = ",sd)

Mode is =  ModeResult(mode=array([86]), count=array([3]))
Multiple Mode is=  [86, 99]
Variance is =  84.13333333333334
Standard Devaition =  9.17242243539477

In [ ]:
import pandas as pd
da={"physics":[32,17,50,25,17,35], "chemistry":[24,24,25,34,31,24], "maths":[30,21,28,21,18,19], "bio":[40,28,32,48,28,42]}
df1=pd.DataFrame(da)
print(df1)

   physics  chemistry  maths  bio
0       32         24     30   40
1       17         24     21   28
2       50         25     28   32
3       25         34     21   48
4       17         31     18   28
5       35         24     19   42

In [ ]:
print(stat.median(df1.physics))

28.5

In [ ]:
print(df1.describe())

         physics  chemistry      maths        bio
count   6.000000    6.00000   6.000000   6.000000
mean   29.333333   27.00000  22.833333  36.333333
std    12.564500    4.38178   4.956477   8.238123
min    17.000000   24.00000  18.000000  28.000000
25%    19.000000   24.00000  19.500000  29.000000
50%    28.500000   24.50000  21.000000  36.000000
75%    34.250000   29.50000  26.250000  41.500000
max    50.000000   34.00000  30.000000  48.000000

In [ ]:
df1.mode()
df1.median()
df1.mean()

physics      29.333333
chemistry    27.000000
maths        22.833333
bio          36.333333
dtype: float64

In [ ]:
from numpy.lib.function_base import percentile
age=[5,31,43,48,50,41,7,11,15,39,80,82,32,2,8,6,25,36,27,61,31]
print(percentile(age,75))
print(percentile(age,90))

43.0
61.0

In [ ]:
#viva  
from scipy.stats import skew
dataset = [88,82,97,67,77,74,6,81,95,77,88,85,76,81]
print(skew(dataset))

-2.5549701577151858