In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("/content/homeprices.csv")  #copy the path
print(df.head())
print("\ndata in multiple regression")

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

data in multiple regression

In [ ]:
df["bedrooms"].fillna(df["bedrooms"].mean(),inplace=True)  #preprocessing to exclude the empty values
x=df.iloc[:,0:3]
y=df.iloc[:,-1]
print("area bedrooms age column\n")
print(x)
print("\nprice column\n")
print(y)

area bedrooms age column

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.2   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

price column

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2,random_state=2)

In [ ]:
x_train

   area  bedrooms  age
3  3600       3.0   30
2  3200       4.2   18
5  4100       6.0    8
0  2600       3.0   20

In [ ]:
x_test

   area  bedrooms  age
4  4000       5.0    8
1  3000       4.0   15

In [ ]:
y_train

3    595000
2    610000
5    810000
0    550000
Name: price, dtype: int64

In [ ]:
y_test

4    760000
1    565000
Name: price, dtype: int64

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression() #object of the class
lr.fit(x_train,y_train)
lr.predict([[2700,3,21]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([554500.])